/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
ul, ol, li{
    list-style: none;
}
/* FIM DO RESET */

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-inline: 64px;
}
header{
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    background-color: gray;
    height: 64px;
    width: 64px;
}
.menu ul{
    display: flex;
    gap: 32px;
}
main{
    flex-grow: 1;
    display: flex;

}
.container{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container h1{
    font-size: 96px;
}
.container p{
    width: 90%;
    font-size: 48px;
    font-weight: 200;
}

.acao button{
    height: 100px;
    width: 230px;
    font-size: 24px;
    background-color: black;
    color: white;
}
.social{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.social div{
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background-color: gray;
}
.imagem{
    height: 100%;
    width: 50%;
    background-color: gray;
}
footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}